*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

font-family:Arial;

background:linear-gradient(135deg,#0f172a,#2563eb,#7c3aed);

color:white;

scroll-behavior:smooth;

overflow-x:hidden;

}

nav{

display:flex;

justify-content:space-between;

padding:20px 60px;

position:sticky;

top:0;

background:rgba(0,0,0,.4);

backdrop-filter:blur(10px);

}

nav ul{

display:flex;

gap:20px;

list-style:none;

}

nav a{

color:white;

text-decoration:none;

}

.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}

.hero img{

width:220px;

height:220px;

border-radius:50%;

border:5px solid white;

object-fit:cover;

animation:float 3s infinite ease-in-out;

}

.btn{

margin-top:20px;

padding:12px 25px;

background:#06b6d4;

color:white;

border-radius:10px;

text-decoration:none;

}

section{

padding:80px;

}

.card{

background:rgba(255,255,255,.15);

padding:25px;

margin:20px 0;

border-radius:15px;

transition:.4s;

}

.card:hover{

transform:translateY(-10px);

}

.skill{

display:inline-block;

padding:12px 20px;

margin:10px;

background:#f97316;

border-radius:30px;

transition:.4s;

}

.skill:hover{

transform:scale(1.15);

}

footer{

text-align:center;

padding:25px;

}

.cursor{

width:25px;

height:25px;

border:2px solid white;

border-radius:50%;

position:fixed;

pointer-events:none;

z-index:9999;

}

@keyframes float{

50%{

transform:translateY(-15px);

}

}

@media(max-width:768px){

nav{

flex-direction:column;

padding:20px;

}

nav ul{

flex-direction:column;

}

section{

padding:40px;

}

}