<!DOCTYPE html>

<html>

<head>

<title>Cognifyz Task 1</title>

</head>

<body>

<h1>Full Stack Internship</h1>

<form action="/submit" method="POST">

<input type="text"

name="name"

placeholder="Enter your name"

required>

<button type="submit">

Submit

</button>

</form>

<% if(username){ %>

<h2>

Welcome <%= username %>

</h2>

<% } %>

</body>

</html>